
.p-settings__row
    margin-right -15px
    margin-left -15px

    +media('in', 'sm')
        margin-right -10px
        margin-left -10px


    +media('max', 'xl')
        margin-right -5px
        margin-left -5px
