
.b-list__row
    display flex
    margin 0 -15px
    padding 5px 15px

    &:nth-of-type(2n)
        background-color rgba($graylight, .25)

.b-list__row_head
    font-weight 700

.b-list__row_priority
    &::before
        margin-top 8px
        display block
        margin-right 10px
        size 10px
        background-color red
        content ''

        border-radius(50%)

.b-list__row_priority
    &_high::before
        background-color $red

    &_medium::before
        background-color $yellow

    &_low::before
        background-color $green

    &_no::before
        background-color $purple


.b-list__title
    flex 1

.b-list__title a
    display block

.b-list__title_head
    padding-left 20px


.b-list__deadline
    flex 0 150px
    padding 0 10px
    text-align center

.b-list__executor
    flex 0 200px
    padding-left 10px
    text-align right

.b-list__count
    flex 0 100px
    padding-left 10px
    text-align right

.p-team__email
    padding-left 10px
    text-align right
