
template(name="projects")
    section.p-projects
        .c-island
            .c-island__title Список проектов
            .p-projects
                .p-projects__row.p-projects__row_head
                    .p-tasks__title Название
                    .p-tasks__count Задачи
                each projectsList
                    .p-projects__row
                        .p-tasks__title: a(href="{{pathFor 'projectsItem' _id=_id}}", title="#{description}") #{title}
                        .p-tasks__count {{getCounter counters.tasks}}



template(name="projectsSub")
