
.p-projects__row
    display flex
    margin 0 -15px
    padding 5px 15px

    &:nth-of-type(2n)
        background-color rgba($graylight, .25)

.p-projects__row_head
    font-weight 700


.p-tasks__count
    flex 0 100px
    padding-left 10px
    text-align right
