
template(name="team")
    section
        .c-island
            .c-island__title Список сотрудники                        
            .b-list
                .b-list__row.b-list__row_head
                    .b-list__title Имя
                    .b-list__position Должность
                each teamList
                    .b-list__row
                        .b-list__title: a(href="{{pathFor 'teamItem' _id=_id}}", title="#{username}") #{username}
                        .b-list__position Менаджер по продажам
