
.p-team__row
    display flex
    margin 0 -15px
    padding 5px 15px

    &:nth-of-type(2n)
        background-color rgba($graylight, .25)

.p-team__row_head
    font-weight 700

.p-team__username
    flex 1

.p-team__position
    padding-left 10px
    text-align right
