
.c-typeahead
    relative()

.c-typeahead__btn
    padding .5em
    font-size 14px

.c-typeahead__list
    absolute top 100% right 0 left 0
    z-index 100
    max-height 300px
    background-color $white
    box-shadow 0 1px 3px $gray
    visibility hidden
    overflow-y auto
    opacity 0
    transition all .5s ease

.c-typeahead_open .c-typeahead__list
    visibility visible
    opacity 1

.c-typeahead__item span
.c-typeahead__no-result
    padding 5px 10px

.c-typeahead__item span
    display block
    cursor pointer
    color $blacksoft !important
    text-decoration none !important

.c-typeahead__item input
    &:hover
        & + span
            background-color rgba($graylight, .5)

    &:checked
        & + span
            background-color rgba($graylight, .8)

.c-typeahead__item:not(:last-child)
    border-bottom 1px solid rgba($graylight, .5)
