
template(name="tasksAdd")
    section.tasksAdd.c-island
        .row: .col.w1
            .g-heading.g-heading_level_1.g-heading_first Создание задачи
            form.c-form
                .row
                    .col.w1
                    .col.w2
                        label.c-form__label
                            | Название
                            span {{errorMessage 'title'}}
                            input.c-form__field(name="title", class="{{errorClass 'title'}}")
                        label.c-form__label
                            | Описание
                            span {{errorMessage 'description'}}
                            textarea.c-form__field.c-form__field_textarea(name="description", rows="10", class="{{errorClass 'description'}}")
                
                    .col.w2
                        label.c-form__label Проект
                            span {{errorMessage 'projectId'}}
                            input.c-form__field(name="projectId", class="{{errorClass 'projectId'}}", autocomplete="off")
                        label.c-form__label Исполнитель
                            input.c-form__field(name="executorId", autocomplete="off")
                        label.c-form__label Соисполнители
                            input.c-form__field(name="coExecutor", autocomplete="off")
                        .row
                            .col.w2
                                label.c-form__label Приоритет
                                    select.c-form__field(name="priority")
                                        option(value="high") Высокий
                                        option(value="medium", selected) Средний
                                        option(value="low") Низкий
                            .col.w2
                                label.c-form__label Крайний срок
                                    input.c-form__field(name="deadline")
                        
                    .col.w1                    
                        button.c-btn.c-btn_color_green Создать задачу
