
template(name="tasksAdd")
    section.tasksAdd.c-island
        .row: .col.w1
            .c-island__title Создание задачи
            form.c-form
                .row
                    .col.w2
                        label.c-form__label
                            | Название
                            span.c-form__error {{errorMessage 'title'}}
                            input.c-form__field(name="title", class="{{errorClass 'title'}}")
                        label.c-form__label
                            | Описание
                            span.c-form__error {{errorMessage 'description'}}
                            textarea.c-form__field.c-form__field_textarea(name="description", rows="10", class="{{errorClass 'description'}}")

                    .col.w2
                        .c-form__label Проект
                            span.c-form__error {{errorMessage 'projectId'}}
                            select.c-form__field.js-sumoselect__projectId(name="projectId")

                        .c-form__label Исполнитель
                            span.c-form__error {{errorMessage 'executorId'}}
                            select.c-form__field.js-sumoselect__executorId(name="executorId")

                        label.c-form__label Соисполнители
                            span.c-form__error {{errorMessage 'coExecutorsId'}}
                            select.c-form__field.js-sumoselect__coExecutorsId(name="coExecutorsId", multiple)

                        .row
                            .col.w2
                                label.c-form__label Приоритет
                                    select.c-form__field.js-sumoselect__priority(name="priority")
                                        option(value="1") Высокий
                                        option(value="2", selected) Средний
                                        option(value="3") Низкий
                            .col.w2
                                label.c-form__label Крайний срок
                                    span.c-form__error {{errorMessage 'deadline'}}
                                    input.c-form__field.js-datepicker(name="deadline", class="{{errorClass 'deadline'}}", placeholder="2016-12-31", data-position="top right", autocomplete="off", spellcheck="off")

                    .col.w1
                        button.c-btn.c-btn_color_green.js-tasks-add__btn Создать задачу
