
$gridContainerWidthLg = 1240px
$gridContainerWidthMd = 980px
$gridContainerWidthSm = 750px
$gridContainerWidthX = 100%
$gridColPaddingLg = 15px
$gridColPaddingSm = 10px
$gridColPaddingX = 5px


-grid($postfix = '')
    if $postfix
        $postfix = '_' + $postfix

    .w0{$postfix}
        flex 1

    for $i in 1..5
        .w{$i}{$postfix}
            flex 0 (1/$i) * 100%


$grid()
    .container
        margin-right auto
        margin-left auto

    .row
        display flex
        flex-wrap wrap


    .container
        width $gridContainerWidthLg

    .row .row
        margin-right -15px
        margin-left -15px

    .col
        padding-right 15px
        padding-left 15px

    -grid()


    +media('in', 'md')
        .container
            width $gridContainerWidthMd

        -grid('md')


    +media('in', 'sm')
        .container
            width $gridContainerWidthSm

        .row .row
            margin-right -10px
            margin-left -10px

        .col
            padding-right 10px
            padding-left 10px

        -grid('sm')


    +media('max', 'xl')
        .container
            width $gridContainerWidthX

        .row .row
            margin-right -5px
            margin-left -5px

        .col
            padding-right 5px
            padding-left 5px

    +media('in', 'xl')
        -grid('xl')

    +media('max', 'xs')
        -grid('xs')
