
/**
 * Position
 *
 * static()                       => position:static;
 * absolute(top)                  => position:absolute;top:0;
 * relative top                   => position:relative;top:0;
 * fixed top 10px left right      => position:fixed;top:10px;left:0;right:0;
 *
 */

-pos(type, args)
    position: unquote(type)
    $direction = top right bottom left
    for arg, i in args
        if arg in $direction
            {arg}: (args[i + 1] is a 'unit') ? args[i + 1] : 0

static()
    -pos('static', arguments)
relative()
    -pos('relative', arguments)
absolute()
    -pos('absolute', arguments)
fixed()
    -pos('fixed', arguments)
