
template(name="tasks")
    section.tasks                
        .c-island
            .c-island__title Список задач
            .tasks-list
                .row
                    .col.w0 Название
                    .col.w5 Крайний срок
                    .col.w5 Приоритет
                    .col.w5 Ответственный
                each tasksList
                    .row.taskItem
                        .col.w0: a.taskItem__title(href="{{pathFor 'tasksItem' _id=_id}}") #{title}
                        .col.w5: .taskItem__deadline #{deadline}
                        .col.w5: .taskItem__priority #{priority}
                        .col.w5: .taskItem__executor {{getUserLInk executorId}}                
                
                    
template(name="tasksSub")
    .c-island
        .c-island__title
            | Проекты
            a.c-island__settings(href="tasks/projects")
        .p-tasks-sub__list
            .p-tasks-sub__item
                .p-tasks-sub__name: a(href="") Мой первый проект
                .p-tasks-sub__count 1
            .p-tasks-sub__item
                .p-tasks-sub__name: a(href="") Мой второй проект
                .p-tasks-sub__count 24241
            .p-tasks-sub__item
                .p-tasks-sub__name: a(href="") Мой третий проект
                .p-tasks-sub__count 22
