
template(name="tasks")
    section.tasks
        .c-island
            .c-island__title Список задач
            .p-tasks
                .p-tasks__row.p-tasks__row_head
                    .p-tasks__title.p-tasks__title_head Название
                    .p-tasks__deadline Крайний срок
                    .p-tasks__executor Исполнитель
                each tasksList
                    .p-tasks__row(class="{{getPriorityClass}}")
                        .p-tasks__title: a(href="{{pathFor 'tasksItem' _id=_id}}") #{title}
                        .p-tasks__deadline {{getDateText deadline}}
                        .p-tasks__executor {{getUserLInk executorId}}



template(name="tasksSub")
