
.p-tasks-sub__item
    display flex
    justify-content space-between
    margin 0 -15px
    padding 5px 15px

    &:nth-of-type(2n)
        background-color rgba($graylight, .25)

.p-tasks-sub__name
    padding-right 10px

.p-tasks-sub__name a
    display inline-block

.p-tasks-sub__count
    color $gray
