
template(name="tasksItem")
    section.p-tasks-item
        .c-island
            .c-island__title Задача: #{title}
            .p-tasks-item__description.c-text
                +markdown
                    #{description}
                    
            .p-tasks-item__checklist
                | тут чеклист
                
                if isCreator
                    //- if не завершена и не отменена
                    .p-tasks-item__control
                        | Это создатель
                        //- if не выполнена
                        .c-btn.c-btn_color_blue Изменить
                        .c-btn.c-btn_color_blue(title="Поменять статус задачи на: Отменена") Отменить
                        //- if выполнена
                        .c-btn.c-btn_color_blue(title="Поменять статус задачи на: Завершена") Принять
                        .c-btn.c-btn_color_blue(title="Отправить на доработку") Отклонить
                if isExecutor
                    //- if новали или в работе
                    .p-tasks-item__control
                        | Это исполнитель
                        //- if новая
                        .c-btn.c-btn_color_blue(title="Отправить на доработку") Принять
                        //- if в работе
                        .c-btn.c-btn_color_blue Выполнить
        .c-island
            .c-island__title Комментарии
            //- if завершена или отменена - запретить новые комменты  
            +comments


template(name="tasksItemSub")
    .c-island
        .c-island__title Информация о задаче
        .p-tasks-item-sub
            .p-tasks-item-sub__key Исполнитель
            .p-tasks-item-sub__value {{getUserLInk executorId}}
            if coExecutor
                .p-tasks-item-sub__key Участники
                .p-tasks-item-sub__value {{getUserLInk coExecutor}}                
            .p-tasks-item-sub__key Постановщик
            .p-tasks-item-sub__value {{getUserLInk userId}}
            .p-tasks-item-sub__key Проект
            .p-tasks-item-sub__value {{getProjectLink projectId}}
            if deadline
                .p-tasks-item-sub__key Крайний срок
                .p-tasks-item-sub__value #{deadline}
            .p-tasks-item-sub__key Приоритет
            .p-tasks-item-sub__value {{getPriorityText  priority}}
            .p-tasks-item-sub__key Дата создания
            .p-tasks-item-sub__value {{getDateText createdAt}}
