
.p-tasks-item__description
    word-break break-all

.p-tasks-item__checklist
    margin-top 15px
    padding-top 15px
    border-top 1px solid rgba($graylight, .5)

.p-tasks-item__control
    margin-top 15px
    padding-top 15px
    border-top 1px solid rgba($graylight, .5)


.p-tasks-item-sub__key
    font-weight 700
    font-size 14px

    &:not(:first-child)
        margin-top 10px

.p-tasks-item-sub__value
    font-size 18px
