
.c-island
    padding 15px
    background-color $white
    box-shadow 0 0 0 1px $graylight
    border-radius()

    +media('in', 'sm')
        padding 10px

    +media('max', 'xl')
        padding 5px
