
/**
 * Глобальные переменные.
 *
 */

$site_font_family = 'Roboto' // Шрифт сайта.
$site_font_size = 18px //       Размер шрифта сайта.
// $site_border-radius = 3px //    Закругление углов (кнопки, сообщения и т.п.). Отключить = 0.


$include_font_family = $site_font_family // Шрифты для включения в файл: 'Roboto', 'PT Serif', 'PT Sans', 'Open Sans'
