
$headerBackgroundColor = #1A1C40

.b-header
    display flex
    justify-content flex-end
    padding 5px 20px
    background-color $headerBackgroundColor
    color $white

.b-header__menu
    display none
