
template(name="projectsAdd")
    section.tasksAdd.c-island
        .row: .col.w1
            .c-island__title Создание проекта
            form.c-form
                .row
                    .col.w1
                    .col.w2
                        label.c-form__label
                            | Название
                            span.c-form__error {{errorMessage 'title'}}
                            input.c-form__field(name="title", class="{{errorClass 'title'}}")
                        label.c-form__label
                            | Описание
                            span.c-form__error {{errorMessage 'description'}}
                            input.c-form__field(name="description", class="{{errorClass 'description'}}")
                
                    .col.w2
                        label.c-form__label Участники
                            span.c-form__error {{errorMessage 'members'}}
                            select.c-form__field.js-sumoselect__members(name="members", multiple)
                        
                    .col.w1                    
                        button.c-btn.c-btn_color_green Создать проект
