
template(name="projectsAdd")
    section.tasksAdd.c-island
        .row: .col.w1
            .c-island__title Создание проекта
            form.c-form
                .row
                    .col.w1
                    .col.w2
                        label.c-form__label
                            | Название
                            span.c-form__error {{errorMessage 'title'}}
                            input.c-form__field(name="title", class="{{errorClass 'title'}}")
                        label.c-form__label
                            | Описание
                            span.c-form__error {{errorMessage 'description'}}
                            input.c-form__field(name="description", class="{{errorClass 'description'}}")
                
                    .col.w2
                        label.c-form__label Участники
                            span.c-form__error {{errorMessage 'members'}}
                            input.g-hide(name="membersField")
                            .c-typeahead
                                input.c-form__field.js-typeahead__result(value="Участники не выбраны.", disabled)
                                a.c-btn.c-btn_no-link.c-btn_color_redsoft.c-typeahead__btn(href="#") Выбрать участников
                                .c-typeahead__list
                                    each usersList
                                        label.c-typeahead__item
                                            input.js-typeahead__input(type="checkbox", name="members" value="#{_id}" )
                                            span #{profile.username}
                        
                    .col.w1                    
                        button.c-btn.c-btn_color_green Создать проект
