
template(name="tasksProjects")
    section.p-tasks-projects
        .c-island
            .c-island__title Проекты


template(name="tasksProjectsSub")
    .c-island
        .c-island__title Информация о задаче
