
template(name="aside")
    aside.b-aside
        .b-aside-user
            a(href="/settings"): img.b-aside-user__image(src="http://image.shutterstock.com/display_pic_with_logo/1364107/306526304/stock-vector-cats-cartoon-vector-seamless-wallpaper-306526304.jpg")
            .b-aside-user__name #{getMyUsername}
            .b-aside-user__logout.js-aside-user__logout Выйти
        .b-aside-btn
            a.b-aside-btn__add(href='#') Добавить
            .b-aside-btn__list
                a.b-aside-btn__link(href="/tasks/add") Задачу
                a.b-aside-btn__link(href="/projects/add") Проект
        
        .b-aside-nav            
            .b-aside-nav__item
                a.b-aside-nav__link(class="{{isActiveRoute 'home' class='b-aside-nav__link_active'}}", href="/")
                    .b-aside-nav__icon.b-aside-nav__icon_home
                    | Рабочий стол 
            
            .b-aside-nav__item
                a.b-aside-nav__link(class="{{isActiveRoute 'projects' class='b-aside-nav__link_active'}}", href="/projects")
                    .b-aside-nav__icon.b-aside-nav__icon_home
                    | Проекты
                
            .b-aside-nav__item
                a.b-aside-nav__link(class="{{isActiveRoute 'tasks' class='b-aside-nav__link_active'}}", href="/tasks")
                    .b-aside-nav__icon.b-aside-nav__icon_home
                    | Задачи
                    
            .b-aside-nav__item
                a.b-aside-nav__link(class="{{isActiveRoute 'team' class='b-aside-nav__link_active'}}", href="/team")
                    .b-aside-nav__icon.b-aside-nav__icon_home
                    | Сотрудники
                     
            .b-aside-nav__item
                a.b-aside-nav__link(class="{{isActiveRoute 'settings' class='b-aside-nav__link_active'}}", href="/settings")
                    .b-aside-nav__icon.b-aside-nav__icon_home
                    | Личный кабинет
