
template(name="comments")
    +commentsAdd
    
    .b-comments
        each commentsList
            .b-comments__item(id="comment-#{_id}")
                .b-comments__img: img(src="http://fakeimg.pl/50x50/282828/eae0d0/")
                .b-comments__content
                    .b-comments__header
                        .b-comments__author {{getUserLInk userId}}
                        .b-comments__date {{getDateFullText createdAt}}
                        .b-comments__anchor: a(href="{{anchorLInk _id}}") #
                    .b-comments__body
                        +markdown
                            #{body}
