
.b-comments
    margin-top 15px
    padding-top 15px
    border-top 1px solid $graylight

.b-comments__item
    display flex
    padding 10px

    &:hover
        background-color rgba($graylight, .2)

.b-comments__img
    flex 0 50px
    margin-right 10px

.b-comments__content
    flex 1


.b-comments__header
    display flex
    color $gray
    font-size 14px

.b-comments__author
.b-comments__date
    padding-right 10px

.b-comments__body
    word-break break-all
