
template(name="application")
    .application
        .application__aside
            +aside
            
        .application__main
            .application__header
                +header
            .application__content
                +Template.dynamic template=content data=params
                
