
template(name="application")
    .application
        .application__aside
            +aside
            
        .application__main
            header.application__header(style="background-color: green;") 1
            section.application__content(style="background-color: red;") 2
