head
    meta(charset="utf-8")
    base(href="http://localhost:3000")
    title TWM - teamwork managment
    meta(name="description", content="")
    
    meta(name="fragment", content="!")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
