
template(name="home")
    section.p-tasks-item
        .c-island
            .c-island__title Рабочий стол
            | Статистика

template(name="homeSub")
        .c-island
            .c-island__title События
