
$asideLinkColorHover = #5D64E5
$asideLinkColorActive = #34387F

// .b-aside-nav
//     background url("") 0px 0px no-repeat

.b-aside-nav__item
    cursor pointer

.b-aside-nav__link
    display block
    padding 10px 10px 10px 30px
    color $white !important
    text-decoration none !important

    &:hover
    &:focus
        background-color $asideLinkColorHover

.b-aside-nav__link_active
    background-color $asideLinkColorActive !important
    cursor default


.b-aside-nav__icon
    display inline-block
    margin-top -4px
    margin-right 5px
    size 20px
    background-size 100% 100%
    background-repeat no-repeat
    vertical-align middle



// TODO: Заменить на svg
.b-aside-nav__icon_home
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA1klEQVRIie3VL2uCURiGcWW8sCADQSxrxkXb8rp9M27Ftk/gF7ALVsFqNyyMNatxaclkWRgMhj+DOyjvXl/8c8QFL3jaw3XDOdw8hcJ/AgkujiUvYYQhLmPLqxhb8YpyLHkN7/4ywfWh8jqmGfLAB272ld/hM0cemOF2V/k9vreQB77Q2Fb+jPkO8sAPHvPERXT2EKdpZ8kT9CPIA12hkFYFis2ykHhC73feIohf1nzN9FO1IgQ85H30yQK6GbuDc8A54DQBV5YXLD2VjN3qht3SxoBjsAA+HplCXU0o1AAAAABJRU5ErkJggg==')

.b-aside-nav__icon_task
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA1klEQVRIie3VL2uCURiGcWW8sCADQSxrxkXb8rp9M27Ftk/gF7ALVsFqNyyMNatxaclkWRgMhj+DOyjvXl/8c8QFL3jaw3XDOdw8hcJ/AgkujiUvYYQhLmPLqxhb8YpyLHkN7/4ywfWh8jqmGfLAB272ld/hM0cemOF2V/k9vreQB77Q2Fb+jPkO8sAPHvPERXT2EKdpZ8kT9CPIA12hkFYFis2ykHhC73feIohf1nzN9FO1IgQ85H30yQK6GbuDc8A54DQBV5YXLD2VjN3qht3SxoBjsAA+HplCXU0o1AAAAABJRU5ErkJggg==')

.b-aside-nav__icon_project
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA1klEQVRIie3VL2uCURiGcWW8sCADQSxrxkXb8rp9M27Ftk/gF7ALVsFqNyyMNatxaclkWRgMhj+DOyjvXl/8c8QFL3jaw3XDOdw8hcJ/AgkujiUvYYQhLmPLqxhb8YpyLHkN7/4ywfWh8jqmGfLAB272ld/hM0cemOF2V/k9vreQB77Q2Fb+jPkO8sAPHvPERXT2EKdpZ8kT9CPIA12hkFYFis2ykHhC73feIohf1nzN9FO1IgQ85H30yQK6GbuDc8A54DQBV5YXLD2VjN3qht3SxoBjsAA+HplCXU0o1AAAAABJRU5ErkJggg==')
